*
{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
.wrapper
{
    width: 80%;
    min-height: 300px;
    border: 5px solid black;
}
.container
{
    width: 100%;
    min-height: 250px;
    border: 1px solid black;
    background-image: url();
}